@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --blue-background-color: #218dab;
    --white-background-color: #ffffff;
    --dark-cyan-color: #119DA4;
    --cerulean-color: #0C7489;
    --midnight-green-color: #13505B;
    --black: #040404;
    --timberwolf-color: #D7D9CE;
    --white: white;
    --green-donation: #6aeeb5;
    --spacing-default: 20px;
    --font-text: "Montserrat";
    --font-text-secondary: "Roboto";
    --radius: 0.2rem;
}

body {
    background-color: var(--white);
    font-family: var(--font-text);
    font-weight: 300;
    font-style: normal;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

header {
    background: linear-gradient(to right, var(--dark-cyan-color), var(--cerulean-color));
    color: var(--white);
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    z-index: 5000;

    h1 {
        margin: 0;
        font-size: 2.5em;
    }

    logo {
        display: flex;
        justify-content: center;
    }
}

nav {

    ul {

        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        /* overflow: hidden; */

        li {
            display: inline;
            margin: 0 15px;

            a {
                text-decoration: none;
                color: var(--white);
                font-size: 1.1em;
                font-weight: bold;
                transition: color 0.3s ease;

                &:hover {
                    border-radius: 5px;
                    color: var(--timberwolf-color);
                }
            }
        }
    }
}

main {
    padding: var(--spacing-default);
}

#banner {

        background-image: url(/images/header.avif);
        background-size: cover;
        height: 120vh;
        margin-bottom: 30px;

        p {

            position: relative;
            top: 5vh;
            width: 800px;
            font-family: var(--font-text);
            font-size: 2.5em;
            font-weight: bolder;
            text-align: center;
            margin: 0 auto;
            padding: 40px;
        }

}


h2 {
    border: none;
    border-radius: 40px 10px;
    background: var(--timberwolf-color)
}


.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.campaign {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    background-color: var(--timberwolf-color);
    margin-bottom: var(--spacing-default);
    padding: 40px 60px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    h3 {
        margin: 0;
        padding: 0;
        font-family: var(--font-text-secondary);
        font-size: 2em;
        text-align: center;
    }

    .campaign-image {
        border-radius: 30px;
        width: 95%;
        padding: 20px;
        margin: 0 auto;
    }

    p {
        font-family: var(--font-text-secondary);
        margin: 0 auto;
    }

    .progress-bar-wrapper {
        position: relative;
        margin-top: 1rem;

        .progress-bar__value {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          #progress-bar-completion {
            width: 100%;
            height: 20px;
            border-radius: 50px;
            color: var(--green-donation);
          }
    }

    .donation-details {
        display: flex;
        flex-direction: row;
        gap: 10rem;
        flex-wrap: wrap;
        margin: 20px;

        .quantity {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: left;
        }

        .donators {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: left;
        }

    }

}

.donate-button {
    font-family: var(--font-text);
    font-size: 1rem;
    background: var(--green-donation);
    border: none;
    outline: none;
    border-radius: var(--radius);
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 200ms ease-in;

    &:hover {
        background: #29e6a7;
    }
}


.capmaign-searcher {
    width: 100%;

    #search-form {
        width: 100%;
    }
}


footer {
    background: linear-gradient(to right, var(--dark-cyan-color), var(--cerulean-color));
    color: var(--white);
    text-align: center;
    padding: 1em 0;
    /* position: relative; */
    bottom: 0;
    width: 100%;
}